.content {
    display: grid;
    grid-row-gap: 92px;
    margin: 56px 0 92px 0;
}

@media screen and (max-width: 1140px) {
    .content {
        margin: 48px 0 92px 0;
    }
}

@media screen and (max-width: 984px) {
    .content {
        margin: 48 0 88px 0;
        grid-row-gap: 88px;
    }
}

@media screen and (max-width: 568px) {
    .content {
        margin: 48px 0 64px 0;
        grid-row-gap: 64px;
    }
}