.place__paragraph {
    align-self: start;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
}

.place__paragraph:nth-child(2) {
    margin-top: 26px;
}

@media screen and (max-width: 984px) {
    .place__paragraph {
        font-size: 16px;
    }

    .place__paragraph:nth-child(2) {
        margin-top: 25px;
    }
}

@media screen and (max-width: 568px) {
    .place__paragraph {
        padding: 0 16px;
    }

    .place__paragraph:nth-child(2) {
        margin-top: 25px;
    }
}