.lead__image {
    width: 100%;
    object-fit: cover;
    margin: 64px auto 0;
}

@media screen and (max-width: 1140px) {
    .lead__image {
        margin: 56px auto 0;
    }
}

@media screen and (max-width: 568px) {
    .lead__image {
        margin: 40px auto 0;
    }
}